.hero-container{
    width: 70%;
    margin: 0 auto;
    padding: 40px 0;
}
.hero-container h1{
    font-size: 3rem;
    text-align: center;
    letter-spacing: 5px;
}
.hero-container p{
    text-align: center;
    font-size: 1.2rem;
    color: #7a7a7a;
    margin-top: 20px;
    margin-bottom: 40px;
}
.grid-container{
    justify-content: center;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-item{
    position: relative;
}
.grid-item img{
    width: 100%;
    height: 100%;
}
.grid-item span{
    background-color: black;
    padding: 10px 10px;
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    top: 0;
    right: 0;
}
.grid-item-1{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.grid-item-2{
    grid-column: 3;
    grid-row: 1;
}
.grid-item-3{
    grid-column: 4;
    grid-row: 1;
}
.grid-item-4{
    grid-column: 3 / 5;
}
.grid-item:hover img{
    opacity: 0.7;
}
.consultation-form{
    background-color: #CE7777;
    padding: 30px 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.consultation-form h2{
    width: 35%;
    font-size: 2rem;
    margin-bottom: 30px;
}
.consultation-form form{
    width: 60%;
}
.consultation-form form input{
    width: 100%;
    display: block;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 1rem;
}
.consultation-form form input::placeholder{
    color: #fff;
}
.consultation-form form button{
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #fff;
    color: #CE7777;
    font-weight: 500;
    margin-top: 20px;
    font-size: 1.1rem;
    cursor: pointer;
}
.consultation-form form button:hover{
    background-color: #CE7777;
    color: #fff;
}
.features{
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.feature-item{
    background-color: #2B3A55;
    padding: 40px 20px;
    text-align: center;
}
.feature-item i{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #fff;
}
.feature-item p{
    padding: 0;
    margin: 0;
    color: #fff;
}
@media screen and (max-width:850px) {
    .hero-container{
        width: 85%;
    }
    .hero-container h1{
        font-size: 2rem;
    }
    .hero-container p{
        font-size: 1rem;
    }
    .grid-container{
        display: flex;
        flex-direction: column;
    }
    .grid-item{
        width: 80%;
        height: 300px;
        margin: 0 auto;
    }
    .consultation-form{
        flex-direction: column;
        margin-top: 20px;
    }
    .consultation-form h2, .consultation-form form{
        width: 100%;
    }
    .consultation-form h2{
        font-size: 1.6rem;
    }
    .feature-item p{
        font-size: 0.8rem;
    }
}